click
cloudevents
deprecation
Flask
functions-framework
gunicorn
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
packaging
typing_extensions
watchdog
Werkzeug
zipp
vertexai
google-cloud-aiplatform
gunicorn
setuptools